# See https://help.github.com/ignore-files/ for more about ignoring files.

# custom modules
src/custom

# dependencies
/node_modules

# testing
/coverage

# production
/build
/storybook-static

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
exportToHTML
.css.map
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# we use sass
*.css
*.css.map

.idea/
delme-validations.json
.node-version
package-lock.json
.vscode
.env

.eslintcache
.python-version
