/*!
 * Copyright 2019-2020 SURF.
 */

@use "sass:color";
@use "../../stylesheets/mixins.scss";
@use "../../stylesheets/media_queries.scss";
@use "../../stylesheets/vars";

.options {
    display: flex;
    padding-top: 25px;
    flex-direction: row;
    align-items: center;
    margin-bottom: 15px;
}

table.prefixes {
    width: 100%;
    word-break: break-all;

    td,
    th {
        text-align: left;
        vertical-align: middle;
    }

    tr {
        &.light {
            border-bottom: 1px solid vars.$light-grey;
        }
        &.dark {
            border-bottom: 1px solid vars.$dark-grey;
        }
    }

    tr.Allocated {
        &.light {
            background-color: vars.$light-primary;
        }
        &.dark {
            background-color: vars.$darkest-primary;
        }

        &:hover {
            &.light {
                background-color: color.adjust(vars.$light-primary, $lightness: -10%);
            }
            &.dark {
                background-color: color.adjust(vars.$darkest-primary, $lightness: -10%);
            }
        }
    }

    tr.Planned {
        cursor: default;
        &.light {
            background-color: vars.$light-gold;
        }
        &.dark {
            background-color: vars.$dark-gold;
        }

        &:hover {
            &.light {
                background-color: color.adjust(vars.$light-gold, $lightness: -10%);
            }
            &.dark {
                background-color: color.adjust(vars.$dark-gold, $lightness: -10%);
            }
        }
    }

    tr.Free {
        &.light {
            background-color: vars.$light-success;
        }
        &.dark {
            background-color: vars.$dark-success;
        }

        &:hover {
            &.light {
                background-color: color.adjust(vars.$light-success, $lightness: -10%);
            }
            &.dark {
                background-color: color.adjust(vars.$dark-success, $lightness: -10%);
            }
        }
    }

    th {
        padding: 5px 5px 10px 5px;
    }

    th.customer {
        width: 15%;
    }

    th.sub_id {
        width: 7%;
    }

    th.description {
        width: 20%;
    }

    th.fam {
        width: 5%;
    }

    th.len {
        width: 5%;
    }

    th.prefix {
        width: 14%;
    }

    th.parent {
        width: 14%;
    }

    th.status {
        width: 10%;
    }

    th.start_date {
        width: 10%;
    }

    span {
        text-transform: uppercase;
        font-weight: bold;
        font-size: larger;
        color: vars.$medium-grey;
        padding: 7px 2px 7px 0;
    }

    i.fa {
        float: right;
        margin-right: 15px;
        color: vars.$medium-grey;
        font-size: 18px;
    }

    tbody {
        tr {
            &:hover {
                background-color: vars.$hover;

                &.Planned {
                    background-color: color.adjust(vars.$light-gold, $lightness: -10%);
                }

                &.Free {
                    background-color: color.adjust(vars.$light-success, $lightness: -10%);
                }

                &.Allocated {
                    background-color: color.adjust(vars.$light-primary, $lightness: -10%);
                }
            }
        }

        td {
            i.fa-info-circle {
                @include mixins.info-icon;
            }

            word-break: break-word;
            word-wrap: break-word;
            padding: 15px 0 10px 5px;

            div.tool-tip {
                @include mixins.tool-tip;

                span {
                    text-transform: none;

                    &.label {
                        font-weight: bold;
                        display: block;
                        padding: 3px 0;
                    }

                    &.value {
                        font-weight: normal;
                        float: right;
                        padding: 0 0 0 60px;
                    }
                }
            }
        }
    }
    @include media_queries.phone {
        thead {
            display: none;
        }
        tr {
            margin-bottom: 10px;
            display: block;
            border-bottom: 2px solid vars.$lighter-grey;
        }
        td {
            display: block;
            text-align: right;
            border-bottom: 1px dotted vars.$light-primary;
            padding: 8px 0;

            &:before {
                content: attr(data-label);
                float: left;
                text-transform: uppercase;
                font-weight: bold;
                font-size: 14px;
                color: vars.$medium-grey;
            }
        }
    }
}
