body {
    font-family: "Roboto", Sans-serif;
    font-size: 15px;
    line-height: 18px;
    -webkit-font-smoothing: antialiased;
    color: #dddddd;
    background-color: #1D1E24;
}

a {
    cursor: pointer;
    color: #33abff;
    font-weight: bold;
}
