.mod-not-found, .mod-server-error, .mod-not-allowed {
  max-width: 1680px;
  margin: 0 auto 15px auto;
  padding: 0 15px;
  padding: 50px;
  text-align: center;
  margin: 50px 100px;
  background-color: white;
  box-shadow: 1px 4px 12px 1px #a6b6be;
  border-radius: 3px; }
  .mod-not-found h1, .mod-server-error h1, .mod-not-allowed h1 {
    font-size: 200%;
    margin-bottom: 50px; }
