.button {
  display: inline-block;
  padding: 10px 15px;
  text-transform: uppercase;
  background-color: white;
  color: #4DB2CF;
  border: 1px solid #d9d9d8;
  border-radius: 3px;
  font-size: larger;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  text-decoration: none; }
  .button:hover, .button:visited {
    text-decoration: none; }
  .button:not(:last-child) {
    margin-right: 15px; }
  .button.disabled {
    cursor: no-drop; }
  .button i {
    margin-left: 10px;
    color: #a6b6be; }
  .button.blue {
    background-color: #4DB2CF;
    color: white;
    border: none; }
    .button.blue.error {
      background-color: #B62222; }
    .button.blue i {
      color: white; }
  .button.grey {
    background-color: #d9d9d8;
    color: white;
    border: none; }
    .button.grey i {
      color: white; }
  .button.red {
    background-color: #B62222;
    color: white;
    border: none; }
  .button.green {
    background-color: #33CD2E;
    color: white;
    border: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0; }
    .button.green i {
      color: white;
      margin: 0;
      font-size: larger; }

h2 {
  margin: 35px 0 20px 0;
  font-size: 22px; }

label {
  text-transform: uppercase;
  font-weight: bold;
  color: #a6b6be;
  display: block; }

em {
  display: block;
  font-size: smaller;
  font-style: italic; }
  em.error {
    color: #B62222; }
    em.error.with-checkbox {
      margin-bottom: 15px; }

.validity-input-wrapper {
  position: relative; }
  .validity-input-wrapper i {
    position: absolute;
    right: 5px;
    top: 6px;
    font-size: large; }

input[type=text], input[type=email], textarea {
  display: block;
  width: 100%;
  border: 1px solid #d9d9d8;
  padding: 6px;
  border-radius: 3px;
  font-size: 14px;
  margin-top: 5px; }
  input[type=text][disabled], input[type=email][disabled], textarea[disabled] {
    background-color: #eff2f3; }

.button {
  min-width: 200px; }

div.checkbox {
  display: flex;
  align-items: center;
  margin: 15px 0; }
  div.checkbox.with-error {
    margin-bottom: 0; }
  div.checkbox em {
    margin-left: 8px; }

@media (max-width: 767px) {
  section.buttons .button {
    min-width: inherit; } }

.mod-process-detail {
  max-width: 1680px;
  margin: 0 auto 15px auto;
  padding: 0 15px; }
  .mod-process-detail .card {
    background-color: white;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    padding: 0 15px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.05);
    padding-bottom: 15px; }
  .mod-process-detail section.tabs {
    display: flex;
    margin-top: 25px;
    padding: 0; }
    .mod-process-detail section.tabs span {
      text-align: center;
      cursor: pointer;
      padding: 15px 75px;
      background-color: #eff2f3;
      color: #565656;
      text-transform: uppercase;
      border-right: 1px solid white; }
      .mod-process-detail section.tabs span.active {
        background-color: white;
        color: #4da7c0;
        border-top: 2px solid #4DB2CF;
        border-right: none; }
      .mod-process-detail section.tabs span:last-child {
        border-right: none; }
  .mod-process-detail section.form-step {
    padding: 20px 0; }
    .mod-process-detail section.form-step h3 {
      font-size: larger;
      margin-bottom: 15px;
      color: #4da7c0; }
    .mod-process-detail section.form-step section.form-divider {
      border-bottom: 1px solid #fbfbfb;
      padding-bottom: 10px;
      margin-bottom: 15px; }
  .mod-process-detail section.process-detail {
    padding: 15px 0 10px 0;
    display: flex;
    align-items: center; }
    .mod-process-detail section.process-detail pre {
      width: 100%; }
  .mod-process-detail .actions {
    display: flex;
    margin-top: 25px; }
    .mod-process-detail .actions .notes {
      display: flex;
      align-items: center;
      flex-grow: 2; }
    .mod-process-detail .actions label {
      margin-right: 10px; }
