@import "../stylesheets/mixins.scss";
@import "../stylesheets/buttons.scss";
@import "../stylesheets/forms.scss";

.mod-process-detail {
    @include page;

    .card {
        @include card;
        padding-bottom: 15px;
    }
    section.not-found {
        h1 {
            font-size: 24px;
            padding: 50px;
        }
    }
    section.tabs {
        display: flex;
        margin-top: 25px;
        padding: 0;
        span {
            text-align: center;
            cursor: pointer;
            padding: 15px 75px;
            background-color: $light-grey;
            color: $dark-grey;
            text-transform: uppercase;
            border-right: 1px solid white;

            &.active {
                background-color: white;
                color: $darker-blue;
                border-top: 2px solid $blue;
                border-right: none;
            }

            &:last-child {
                border-right: none;
            }
        }
    }
    section.header-info {
        display: flex;
        h3 {
            font-size: larger;
            padding: 15px 0;
            color: $darker-blue;
            &:last-child {
                margin-left: auto;
            }
        }
    }

    .actions {
        display: flex;
        margin-top: 25px;
        .notes {
            display: flex;
            align-items: center;
            flex-grow: 2;
        }
        label {
            margin-right: 10px;
        }
    }

}

