@import "../stylesheets/mixins.scss";
@import "../stylesheets/forms.scss";

.mod-subscription-detail {
    @include page;
    @include card;
    padding-bottom: 15px;

    h3 {
        font-size: larger;
        padding: 15px 0 0 15px;
        color: $darker-blue;
    }
    .details {
        padding-bottom: 25px;
        border-bottom: 1px solid $light-blue;
    }
    .form-container {
        display: flex;
        &:first-child {
            margin-bottom: 20px;
        }
        &:not(:first-child) {
            border-top: 1px solid $light-grey;
            padding-top: 5px;
        }
        &:only-child {
            margin-bottom: 0;
        }
        section {
            padding: 0 25px;
            width: 100%;

            label.title  {
                margin: 15px 0 10px 0;
            }
            .checkbox {
                margin-top: 48px;
            }
        }
    }
}

