@import "../stylesheets/mixins.scss";
@import "../stylesheets/buttons.scss";

.mod-subscription-detail {
  @include page;
  @include card;
  padding-bottom: 15px;
  section.not-found {
    h1 {
      font-size: 24px;
      padding: 50px;
    }
  }
  h3 {
    font-size: 20px;
    padding: 15px 0 0 15px;
    color: $darker-blue;
  }
  h2 {
    font-size: 16px;
    margin: 10px 0 0 0;
    padding: 10px 0 0 25px;
    color: $blue;
  }
  em {
    margin-left: 15px;
  }
  section.terminate-link, section.modify-link {
    &.modify-link {
      margin-top: 25px;
    }
    a {
      margin-left: 25px;
      min-width: 320px;
      i {
        margin-right: 30px;
        color: white;
      }
    }
    p.no-termination-reason, p.no-modify-reason {
      color: $orange;
      margin: 15px 0 0 25px;
    }
  }
  section.terminate-link-waiting {
    margin-left: 25px;
    display: flex;
    align-items: center;
    em {
      font-size: 16px;
    }
    i.fa {
      color: $orange;
    }
  }
  section.details {
    padding-bottom: 20px;
  }
  section.not-found-related-objects {
    padding-bottom: 20px;
    h3 {
      color: $red;
    }
  }
  table {
     table-layout: fixed;
  }
  table.detail-block {
    margin-top: 20px;
    margin-left: 30px;
    width: 90%;
    &.related-subscription {
      margin: 0;
      width: 100%;
    }
    thead {
      th {
        padding: 5px 0 10px;
        text-align: left;
        &.insync {
          width: 10%;
        }
      }
    }
    tbody {
      tr {
        border-bottom: 1px solid $light-grey;
        border-left: 1px solid $blue;

        &:nth-child(even) {
          background: white;
        }
        &:nth-child(odd) {
          background: $table-odd-even;
        }
      }
      td {
        text-align: left;
        vertical-align: middle;
        padding: 8px 15px;
        em.error {
          margin-left: 0;
          font-size: 14px;
        }
        div.resource-type {
          display: flex;
        }

        &:first-child {
          width: 10%;
        }
        &:nth-child(2) {
          width: 50%;
          text-align: left;
          div.checkbox {
            margin: 0;
          }
        }
        &:last-child {
          width: 30%;
        }
        &.insync {
          text-align: center;
        }

        i.fa-plus-circle, i.fa-minus-circle {
          cursor: pointer;
          margin-right: 15px;
          font-size: 22px;
          color: $blue;

        }

      }
    }
    &.multiple-tbody {
      tbody {
        &:nth-child(even) {
          tr {
            background: $table-odd-even;
          }
        }
        &:nth-child(odd) {
          tr {
            background: white;
          }
        }
        tr.related-subscription {
          border-bottom: none;
          border-left: none;
          td {
            &.whitespace {
              background-color: white;
              border-left: none;
            }
            &.related-subscription-values {
              background-color: $light-grey;
              border-bottom: 1px solid $light-grey;
              border-left: 5px solid $blue;
              margin: 0;
              padding: 0;
            }
          }
        }

      }
    }
  }
  table.subscriptions {
    margin-top: 20px;
    margin-left: 30px;
    width: 90%;
    word-break: break-all;
    td, th {
      text-align: left;
    }
    tr {
      border-bottom: 1px solid $light-grey;
      border-left: 1px solid $blue;
      &:nth-child(even) {
        background: white;
      }
      &:nth-child(odd) {
        background: $table-odd-even;
      }
    }
    th, td {
      padding: 8px 15px;
      word-break: break-word;
      word-wrap: break-word;
    }
    th.customer_name {
      width: 20%;
    }
    th.subscription_id {
      width: 8%;
    }
    th.description {
      width: 20%;
    }
    th.insync {
      width: 10%;
      text-align: center;
    }
    th.product_name {
      width: 15%;
    }
    th.status {
      width: 8%;
    }
    th.tag {
      width: 10%;
    }
    th.start_date_epoch {
      width: 10%;
    }
    span {
      text-transform: uppercase;
      font-weight: bold;
      font-size: larger;
      color: $medium-grey;
      padding: 7px 2px 7px 0;
    }
    tbody {
      td {
        &.insync {
          display: flex;
          justify-content: center;
        }
      }
    }
  }
  p.label {
    color: $blue;
    margin-left: 25px;
    padding-top: 5px;
  }

}

