@import "../stylesheets/mixins.scss";
@import "../stylesheets/media_queries.scss";

.mod-tasks {
    @include page;

    .card {
        @include card;
        padding: 15px 15px 0 15px;
    }
    .options {
        display: flex;
        padding-top: 25px;
        flex-direction: row;
        align-items: center;
    }
    section.refresh {
        display: flex;
        background-color: white;
        padding: 10px 20px 10px 15px;

        .checkbox {
            margin-left: auto;
        }
    }
    section.search {
        position: relative;
        flex-grow: 5;

        input {
            padding: 12px;
            margin-left: auto;
            margin-top: 0;
            border: 1px solid $lighter-grey;
            border-bottom-left-radius: $br;
            border-top-left-radius: $br;
            font-size: 14px;
            width: 100%;
            height: 100%;
        }

        i.fa-search {
            color: lighten($blue, 5);
            position: absolute;
            right: 14px;
            top: 8px;
            font-size: 24px;
        }
    }
    a.button {
        i.fa-plus {
            font-size: inherit;
            margin-left: 10px;
            margin-top: 4px;
        }

    }

    section.tasks {
        display: flex;
        padding: 0 20px 20px 20px;
        background-color: white;

        a.new {
            margin-left: 25px;
            i.fa-plus {
                margin-left: 35px;
            }
        }

    }

    table.tasks {
        width: 100%;
        word-break: break-all;
        td, th {
            text-align: left;
        }
        tr {
            border-bottom: 1px solid $light-grey;
            &.suspended {
                background-color: $light-gold;
            }
            &.running {
                background-color: $light-green;
            }
        }
        thead {
            th {
                cursor: pointer;
                padding: 5px 5px 10px 5px
            }
            th.last_step {
                width: 10%;
            }
            th.last_status {
                width: 10%;
            }
            th.workflow {
                width: 20%;
            }
            th.started_at {
                width: 15%;
            }
            th.failed_reason {
                width: 10%;
            }
            th.last_modified_at {
                width: 15%;
            }
            th.created_by {
                width: 15%;
            }
            th.actions {
                text-align: right;
                width: 5%;
            }
            span {
                text-transform: uppercase;
                font-weight: bold;
                font-size: larger;
                color: $medium-grey;
                padding: 7px 2px 7px 0;
            }
            i.fa {
                float: right;
                margin-right: 15px;
                color: $medium-grey;
                font-size: 18px;
            }
        }
        tbody {
            tr {
                cursor: pointer;
                &:hover {
                    background-color: $hover;
                    &.suspended {
                        background-color: darken($light-gold, 10%);
                    }
                    &.running {
                        background-color: darken($light-green, 10%);
                    }
                    td.actions i.fa-ellipsis-h {
                        color: $blue;
                    }
                }
            }
            td {
                i.fa-info-circle {
                    @include info-icon;
                }
                word-break: break-word;
                word-wrap: break-word;
                padding: 15px 5px;

                div.tool-tip {
                    @include tool-tip;
                    span {
                        text-transform: none;
                        &.label {
                            font-weight: bold;
                            display: block;
                            padding: 3px 0;
                        }
                        &.value {
                            font-weight: normal;
                            float: right;
                            padding: 0 0 0 60px;
                        }
                    }
                }
            }
            td.actions {
                cursor: pointer;
                text-align: right;
                font-size: 18px;
                position: relative;

            }
        }

        @include phone {
            thead {
                display: none;
            }
            tr {
                margin-bottom: 10px;
                display: block;
                border-bottom: 2px solid $lighter-grey;
            }
            td {
                display: block;
                text-align: right;
                border-bottom: 1px dotted $light-blue;
                padding: 8px 0;

                &:before {
                    content: attr(data-label);
                    float: left;
                    text-transform: uppercase;
                    font-weight: bold;
                    font-size: 14px;
                    color: $medium-grey;
                }
            }

        }

    }
}

