@import "../stylesheets/mixins.scss";
@import "../stylesheets/media_queries.scss";

.mod-validations {
    @include page;

    .card {
        @include card;
        padding-bottom: 15px;
    }
    .header {
        display: flex;
        align-items: center;
        margin: 20px 0 0 20px;
        .explain {
            display: flex;
            align-items: center;
            cursor: pointer;
            font-size: 22px;
            i {
                color: lighten($blue, 5);
                font-size: 30px;
                margin-right: 15px;
            }

            span {
                color: $blue;
                font-weight: bold;
            }
        }
        .options {
            margin-left: auto;
            margin-right: 20px;
        }
    }

    section.validations {
        display: flex;
        flex-direction: column;
        padding: 0 20px 20px 20px;
    }
}

