@import "../stylesheets/vars.scss";

section.autocomplete {
    position: absolute;
    z-index: 3;
    top: 55px;
    &.child {
        top: 35px;
    }
    right: 0;
    width: 100%;
    border-radius: $br;
    background-color: white;
    box-shadow: 1px 4px 12px 1px $medium-grey;
    margin-bottom: 25px;

    div.no-results {
        padding: 10px 15px;
        font-style: italic;
    }

    table.result {
        width: 100%;
        word-break: break-all;

        tbody tr {
            border-top: 1px solid $light-grey;
            cursor: pointer;

            &.active, &:hover {
                background-color: $light-grey;
            }
            td {
                padding: 10px;
                width: 50%;
                vertical-align: middle;
                span.matched {
                    font-weight: bold;
                    text-decoration: underline;
                }
            }
        }
    }
}
