div.checkbox input[type="checkbox"] {
  display: none; }

div.checkbox label {
  display: inline-block;
  margin: 3px 0; }
  div.checkbox label.info {
    margin-left: 10px; }

div.checkbox input[type="checkbox"] + label span {
  font-size: 11px;
  background-color: white;
  border: 1px solid #4DB2CF;
  border-radius: 3px;
  padding: 1px 2px;
  margin: 2px 0;
  cursor: pointer; }
  div.checkbox input[type="checkbox"] + label span i {
    color: transparent;
    padding: 0 1px; }

div.checkbox input[type="checkbox"]:disabled + label span {
  border: 1px solid #97aab3;
  background-color: #eff2f3;
  cursor: not-allowed; }

div.checkbox input[type="checkbox"]:checked + label span {
  border: 2px solid #4DB2CF;
  border-radius: 2px;
  box-shadow: none;
  padding: 0; }
  div.checkbox input[type="checkbox"]:checked + label span i {
    background-color: #4DB2CF;
    color: white;
    padding: 3px 2px; }

div.checkbox input[type="checkbox"]:checked:disabled + label span {
  border: 3px solid #a6b6be;
  cursor: default; }
  div.checkbox input[type="checkbox"]:checked:disabled + label span i {
    background-color: #a6b6be; }
