@import "../stylesheets/vars.scss";

section.contact-persons {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    section.person {
        display: flex;
        div.wrapper {
            margin-left: 25px;
            flex-grow: 2;
            div.tel {
                display: flex;
                align-items: center;
                i.fa-minus {
                    padding-left: 5px;
                    color: $red;
                    font-size: 30px;
                    cursor: pointer;
                    &.disabled {
                        cursor: not-allowed;
                        color: $light-grey
                    }
                }
            }
        }
        div.contact-persons-name {
            margin-top: 5px;
            div.Select-control {
                max-height: 30px;
                div.Select-input {

                    max-height: 30px;
                }
            }
        }
    }
    div.add-person {
        display: flex;
        i.fa-plus {
            margin-left: auto;
            padding: 10px 2px 0 0;
            color: $green;
            font-size: 30px;
            cursor: pointer;
        }
    }

}
