@import "../stylesheets/mixins.scss";
@import "../stylesheets/media_queries.scss";

section.dienst-afname-validation {
    background-color: white;
    padding: 20px;
    margin: 20px 0;
    box-shadow: 2px 3px 3px 0 $light-grey;

    h3 {
        margin-left: 20px;
        margin-bottom: 15px;
        color: $blue;
        font-size: 18px;
    }

    section.dienstafnames, section.subscriptions {
        display: flex;
        padding: 0 20px 20px 20px;
        background-color: white;
    }

    table.subscriptions, table.dienstafnames  {
        width: 100%;
        word-break: break-all;
        td, th {
            text-align: left;
        }
        tr {
            border-bottom: 1px solid $light-grey;
        }
        thead {
            th {
                padding: 5px 0 10px
            }
            th.dienst {
                width: 20%;
            }
            th.dienstafname {
                width: 20%;
            }
            th.subscription {
                width: 20%;
            }
            th.statuscode {
                width: 10%;
            }
            th.dienstcode {
                width: 10%;
            }
            th.organisatiecode {
                width: 5%;
            }
            th.organisatienaam {
                width: 15%;
            }
            span {
                text-transform: uppercase;
                font-weight: bold;
                font-size: larger;
                color: $medium-grey;
                padding: 7px 2px 7px 0;
            }
        }
        tbody {
            td {
                word-break: break-word;
                word-wrap: break-word;
                padding: 15px 5px 15px 0;
            }
        }

        @include phone {
            thead {
                display: none;
            }
            tr {
                margin-bottom: 10px;
                display: block;
                border-bottom: 2px solid $lighter-grey;
            }
            td {
                display: block;
                text-align: right;
                border-bottom: 1px dotted $light-blue;
                padding: 8px 0;

                &:before {
                    content: attr(data-label);
                    float: left;
                    text-transform: uppercase;
                    font-weight: bold;
                    font-size: 14px;
                    color: $medium-grey;
                }
            }

        }

    }
    table.subscriptions {
        tr {
            &:hover {
                background-color: $hover;
            }
            cursor: pointer;
        }
    }
    table.dienstafnames {
        tr:nth-child(odd) {
            background-color: $hover;
        }

    }

}


