@import "../stylesheets/vars.scss";

.explain-container {
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background: white;
    width: 435px;
    z-index: 5;
    height: 100%;
    transition: left 325ms ease-in-out;

    &.hide {
        transition: left 250ms ease-in-out;
        left: -440px;
    }

    .container {
        overflow-y: scroll;
        height: 99%;
    }

    p {
        margin-top: 15px;
    }
    h1,
    h2,
    h3 {
        margin-top: 15px;
        color: $blue;
    }
    h1 {
        font-size: 1.25em;
    }
    h2 {
        font-size: 1.2em;
    }
    h3 {
        font-size: 1.15em;
    }

    span {
        font-style: italic;
        &.code {
            font-family: Courier;
        }
    }

    .title {
        position: relative;
        padding: 20px 10px;
        background-color: $blue;
        color: white;
        font-weight: bold;
        font-size: larger;

        a.close {
            position: absolute;
            right: 0;
            top: -4px;
            font-size: 24px;
            padding: 8px;
        }
    }

    .details {
        padding: 10px;
    }
    .details {
        ul {
            list-style-type: circle;
            margin: 15px 0 15px 25px;
        }
    }
}
