@import "../stylesheets/mixins.scss";
@import "../stylesheets/media_queries.scss";

section.fixed-input-configuration {
    background-color: white;
    padding: 15px 0 0 0;
    margin-top: 20px;
    box-shadow: 2px 3px 3px 0 $light-grey;

    h3 {
        margin-left: 10px;
        margin-bottom: 15px;
        color: $blue;
        font-size: 16px;
    }

    table {
        background-color: $border-light;
        width: 100%;
        word-break: break-all;
        td, th {
            padding: 5px 10px;
            text-align: left;
        }
        tr {
            border-bottom: 1px solid $light-grey;
        }
        th.fixed-input {
            width: 20%;
        }
        th.values {
            width: 25%;
        }
        th.description {
            width: 40%;
        }
        th.required {
            width: 15%;
        }
    }

}
