@import "../stylesheets/mixins.scss";
@import "../stylesheets/media_queries.scss";

section.fixed-input-validation {
    background-color: white;
    padding: 15px 0 0 0;
    margin-top: 20px;
    box-shadow: 2px 3px 3px 0 $light-grey;

    h3 {
        margin-left: 20px;
        margin-bottom: 15px;
        color: $blue;
        font-size: 18px;
        cursor: pointer;
    }

    table {
        background-color: $border-light;
        width: 100%;
        word-break: break-all;
        td,
        th {
            padding: 5px 10px;
            text-align: left;
        }
        tr {
            border-bottom: 1px solid $light-grey;
        }
        th.name {
            width: 25%;
        }
        th.error {
            width: 75%;
        }
    }
}
