@import "../stylesheets/vars.scss";

.free-port-select {
    em.msg {
        display: block;
        margin-top: 15px;
        font-size: 15px;
        &.warn {
            color: $orange;
        }
    }
}
