@import "../stylesheets/vars.scss";
@import "../stylesheets/mixins.scss";

.ipspace_popup {
    width: 100%;
    background-color: black;
}
section.ipblock-selector {
    width: 100%;
    table.ip-blocks {
        word-break: break-all;
        width: 70%;
        td, th {
            text-align: left;
        }
        tr {
            border-bottom: 1px solid $light-grey;
        }
        tr.Allocated {
            cursor: pointer;
            background-color: $light-blue;
            &:hover {
                background-color: darken($light-blue, 10%);
            }
        }
        tr.Planned {
            cursor: default;
            background-color: $light-gold;
        }
        tr.Free {
            cursor: pointer;
            background-color: $light-green;
            &:hover {
                background-color: darken($light-green, 10%);
            }
        }
        tr.Subnet {
            background-color: darken($light-blue, 30%);
            cursor: default;
        }
        tr.selected {
            background-color: $dark-grey;
            color: white;
            &:hover {
                background-color: black;
            }
        }
        thead {
            display: block;
            th {
                cursor: pointer;
                padding: 5px 5px 10px 5px
            }
            th.id {
                min-width: 8em;
            }
            th.prefix {
                min-width: 15em;
            }
            th.description {
                min-width: 30em;
            }
            th.state {
                min-width: 25em;
            }
        }

        tbody {
            min-width: 1800px;
            height: 240px;
            display: block;
            overflow: auto;
            td {
                word-break: break-word;
                word-wrap: break-word;
                padding: 15px 5px;
            }
            td.id {
                min-width: 8em;
            }
            td.prefix {
                min-width: 15em;
            }
            td.description {
                min-width: 30em;
            }
            td.state {
                min-width: 25em;
            }

        }
    }
}
