@import "../stylesheets/mixins.scss";
@import "../stylesheets/buttons.scss";
@import "../stylesheets/forms.scss";

.mod-resource-type {

    .card {
        @include card;
        padding: 20px 40px;
    }

    section.form-divider {
        border-bottom: 1px solid $lightest-grey;
        padding-bottom: 10px;
        margin-bottom: 15px;

        em {
            margin-bottom: 10px;
        }
    }

    .buttons {
        margin-top: 35px;
        display: flex;
        a.button.red {
            margin-left: auto;
        }
    }

}

