@import "../stylesheets/vars.scss";

section.multiple-mps {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    section.msp {
        display: flex;
        div.wrapper {
            margin-left: 25px;
            width: 50%;
            div.vlan, div.bandwidth {
                display: flex;
                align-items: center;
                div.virtual-vlan {
                    width: 100%;
                }
                i.fa-minus {
                    padding-left: 5px;
                    color: $red;
                    font-size: 30px;
                    cursor: pointer;
                    &.disabled {
                        cursor: not-allowed;
                        color: $light-grey
                    }
                }
            }
        }
    }
    div.msp-select {
        margin-top: 5px;
        div.Select-control {
            max-height: 30px;
            div.Select-input {
                max-height: 30px;
            }
        }
    }
    div.add-msp {
        display: flex;
        i.fa-plus {
            margin-left: auto;
            padding: 10px 2px 0 0;
            color: $green;
            font-size: 30px;
            cursor: pointer;
        }
    }
}
