@import "../stylesheets/vars.scss";

section.subscription-select {
    width: 100%;

    div.wrapper {
        display: flex;
        margin-left: 25px;

        div.select-box {
            width: 98%;
            margin-top: 5px;

            div.Select-control {
                max-height: 30px;

                div.Select-input {
                    max-height: 30px;
                }
            }
        }
    }
}
