@import "../stylesheets/vars.scss";

section.table-summary {
    width: 100%;

    td {
        padding: 10px;
    }

    td:not(:first-child):not(:last-child) {
        border-right: solid 2px $light-grey;
    }

    .label {
        font-weight: bold;
        background-color: $light-blue;
        border-right: solid 2px $blue;
    }
    .value {
        background-color: $lightest-grey;
    }
}
