@import "../stylesheets/vars.scss";

section.table-summary {
    width: 100%;

    td {
        padding: 10px;
    }

    .label {
        background-color: $light-blue;
    }
    //div.wrapper {
    //    display: flex;
    //    margin-left: 25px;
    //
    //}
}
