@import "../stylesheets/mixins.scss";
@import "../stylesheets/buttons.scss";
@import "../stylesheets/forms.scss";

.mod-process-step {
    .card {
        @include card;
        padding-bottom: 15px;
    }

    section.form-step {
        padding: 20px 0;

        section.form-divider {
            border-bottom: 1px solid $lightest-grey;
            padding-bottom: 10px;
            margin-bottom: 15px;

            em {
                margin-bottom: 10px;
            }
            &.first_lightpath,
            &.second_lightpath,
            p.label {
                text-transform: uppercase;
                font-weight: bold;
                color: $blue;
            }
            &.downgrade_redundant_lp_choice,
            &.service_ports_primary,
            &.service_ports_secondary {
                margin-left: 40px;
            }
        }
    }
    section.refresh-service-ports {
        i.fa-refresh {
            margin-left: auto;
            margin-top: 0px;
            color: $blue;
            font-size: 30px;
            cursor: pointer;
        }
    }

    .actions {
        display: flex;
        margin-top: 25px;
        .notes {
            display: flex;
            align-items: center;
            flex-grow: 2;
        }
        label {
            margin-right: 10px;
        }
    }
}
