// This extra import allows any variables that are created via functions to work when loaded into JS
@import "~@elastic/eui/src/global_styling/variables/colors";

$euiColorPrimary: #61dafb;
$euiColorSecondary: #00bfb3;
$euiColorAccent: #fc358e;

$euiLinkColor: $euiColorPrimary; // Weirdly this one wasn't updating with new primary color

// Contrasty text variants
$euiColorPrimaryText: makeHighContrastColor($euiColorPrimary);
$euiColorSecondaryText: makeHighContrastColor($euiColorSecondary);
$euiColorAccentText: makeHighContrastColor($euiColorAccent);
