/*
 * Copyright 2019-2022 SURF.
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *         http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 *
 */
window.__env__ = {};
window.__env__.BACKEND_URL = "${REACT_APP_BACKEND_URL}";
window.__env__.OAUTH2_ENABLED = ["true", "1", "yes", "on"].includes(
    "${REACT_APP_OAUTH2_ENABLED}".toLocaleLowerCase()
);
window.__env__.OAUTH2_OPENID_CONNECT_URL = "${REACT_APP_OAUTH2_OPENID_CONNECT_URL}";
window.__env__.OAUTH2_CLIENT_ID = "${REACT_APP_OAUTH2_CLIENT_ID}";
window.__env__.OAUTH2_SCOPE = "${REACT_APP_OAUTH2_SCOPE}";
window.__env__.CHECK_STATUS_INTERVAL = parseInt("${REACT_APP_CHECK_STATUS_INTERVAL}" || "3", 10);
window.__env__.NETWORKDASHBOARD_URL = "${REACT_APP_NETWORKDASHBOARD_URL}";
window.__env__.TRACING_ENABLED = "${REACT_APP_TRACING_ENABLED}"
window.__env__.SENTRY_DSN = "${REACT_APP_SENTRY_DSN}"
window.__env__.TRACE_SAMPLE_RATE = "${REACT_APP_TRACE_SAMPLE_RATE}"
window.__env__.RELEASE = "${REACT_APP_RELEASE}"
window.__env__.ENVIRONMENT = "${REACT_APP_ENVIRONMENT}"
window.__env__.TRACING_ORIGINS = "${REACT_APP_TRACING_ORIGINS}"
window.__env__.IMS_URL = "${REACT_APP_IMS_URL}";
window.__env__.REVIEW_APP = ["true", "1", "yes", "on"].includes(
    "${REACT_APP_REVIEW_APP}".toLocaleLowerCase()
);
window.__env__.CI_PROJECT_ID = "${REACT_APP_CI_PROJECT_ID}";
window.__env__.CI_MERGE_REQUEST_IID = "${REACT_APP_CI_MERGE_REQUEST_IID}";
window.__env__.GITLAB_URL = "${REACT_APP_GITLAB_URL}";
window.__env__.CI_PROJECT_PATH = "${REACT_APP_CI_PROJECT_PATH}";
