window.__env__ = {};
window.__env__.BACKEND_URL = "${REACT_APP_BACKEND_URL}";
window.__env__.OAUTH2_ENABLED = ["true", "1", "yes", "on"].includes(
    "${REACT_APP_OAUTH2_ENABLED}".toLocaleLowerCase()
);
window.__env__.OAUTH2_OPENID_CONNECT_URL = "${REACT_APP_OAUTH2_OPENID_CONNECT_URL}";
window.__env__.OAUTH2_CLIENT_ID = "${REACT_APP_OAUTH2_CLIENT_ID}";
window.__env__.OAUTH2_SCOPE = "${REACT_APP_OAUTH2_SCOPE}";