/*
 * Copyright 2019-2020 SURF.
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *         http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 *
 */
window.__env__ = {};
window.__env__.BACKEND_URL = "${REACT_APP_BACKEND_URL}";
window.__env__.OAUTH2_ENABLED = ["true", "1", "yes", "on"].includes(
    "${REACT_APP_OAUTH2_ENABLED}".toLocaleLowerCase()
);
window.__env__.OAUTH2_OPENID_CONNECT_URL = "${REACT_APP_OAUTH2_OPENID_CONNECT_URL}";
window.__env__.OAUTH2_CLIENT_ID = "${REACT_APP_OAUTH2_CLIENT_ID}";
window.__env__.OAUTH2_SCOPE = "${REACT_APP_OAUTH2_SCOPE}";
window.__env__.CHECK_STATUS_INTERVAL = parseInt("${REACT_APP_CHECK_STATUS_INTERVAL}" || "3", 10);
